body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

#grid > div {
    border: 1px solid black;
    height: 58px;
    width: 58px;
    flex-grow: 1;    
}

#resizeButton {
    margin: 20px;
}