body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

#grid > div {
    border: 1px solid black;
    height: 58px;
    width: 58px;
    flex-grow: 1;
    background-color: white;    
}

h1 {
    font: italic small-caps bold Georgia, serif;
    font-size: 75px;
    font-weight: 900;
    margin: 0;
}

p {
    margin-top: 20px;
    margin-bottom: 50px;
    text-decoration:underline
}

button {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 20px;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 3px 3px;
    cursor: pointer;
    font-size: 16px;
    font-family: Courier New, monospace;
}

button:hover{ 
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slidebg 4s linear infinite;
 }

button:active {
    box-shadow: 0 5px #667;
    transform: translateY(4px);
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
}