body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
}

#grid > div {
    border: 1px solid black;
    height: 58px;
    width: 58px;
    flex-grow: 1;    
}

button{
    display: flex;
    align-items: center;
    height: 30px;
    margin: 20px;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 3px 3px;
    cursor: pointer;
    font-size: 16px;
    font-family: Courier New, monospace;
}

button:hover{
    background-color: rgb(235, 252, 2);
}

button:active {
    background-color: rgb(235, 252, 2);
    box-shadow: 0 5px #667;
    transform: translateY(4px);
  }